* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fafafa;
}
a:hover {
  color: #ffd597;
}

body {
  color: #fafafa;
  font-family: "SVN-Book Avo";
  background-color: #121212;
}

.fs__smallest {
  font-size: 12px;
}

.fs__details {
  font-size: 14px;
}

.fs__text {
  font-size: 18px;
}

.fs__title {
  font-size: 28px;
  font-family: "SVN-Book Antiqua", sans-serif;
  color: #ffd597;
}

.fs__title--main {
  font-size: 42px;
  color: #ffd597;
  font-family: "SVN-Book Antiqua", sans-serif;
}

.button-secondary {
  background-color: #ffc367;
  color: #fafafa;
}

.button-secondary--outline {
  color: #fafafa;
  box-shadow: 0 0 0 2px #ffc367 inset;
}
.button-secondary--outline:hover {
  background-color: #ffc367;
}

.bg__custom--1 {
  background-image: url(../../public/images/breadcrumbs-bg.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
.bg__custom--1::before {
  content: "";
  width: 100%;
  height: 70px;
  transform: rotate(180deg);
  background-image: url(../../public/images/overlay-slider.webp);
  background-size: contain;
  position: absolute;
  z-index: 0;
  top: 0;
}
.bg__custom--1::after {
  content: "";
  width: 100%;
  height: 70px;
  background-image: url(../../public/images/overlay-slider.webp);
  background-size: contain;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

@font-face {
  font-family: "SVN-Book Antiqua";
  src: url("../../public/fonts/SVN-Book Antiqua.ttf") format("truetype");
}
@font-face {
  font-family: "SVN-Book Avo";
  src: url("../../public/fonts/SVN-Avo.ttf") format("truetype");
}
.header__logo > img {
  width: 200px;
}
.header__link a {
  font-weight: bold;
  color: white;
  margin: 0 10px;
}
.header__link a:hover {
  font-weight: bolder;
  color: #ffd597;
}
.header__button a {
  padding: 10px 20px;
}
.header__button a:nth-child(1) {
  color: black;
}
.header__button a:nth-child(2):hover {
  color: black;
}
.header__user span {
  margin-right: 10px;
}
.header__user img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.footer > .row {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #ffc367;
}
.footer__link a {
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fafafa;
}
a:hover {
  color: #ffd597;
}

body {
  color: #fafafa;
  font-family: "SVN-Book Avo";
  background-color: #121212;
}

.fs__smallest {
  font-size: 12px;
}

.fs__details {
  font-size: 14px;
}

.fs__text {
  font-size: 18px;
}

.fs__title {
  font-size: 28px;
  font-family: "SVN-Book Antiqua", sans-serif;
  color: #ffd597;
}

.fs__title--main {
  font-size: 42px;
  color: #ffd597;
  font-family: "SVN-Book Antiqua", sans-serif;
}

.button-secondary {
  background-color: #ffc367;
  color: #fafafa;
}

.button-secondary--outline {
  color: #fafafa;
  box-shadow: 0 0 0 2px #ffc367 inset;
}
.button-secondary--outline:hover {
  background-color: #ffc367;
}

.bg__custom--1 {
  background-image: url(../../public/images/breadcrumbs-bg.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
.bg__custom--1::before {
  content: "";
  width: 100%;
  height: 70px;
  transform: rotate(180deg);
  background-image: url(../../public/images/overlay-slider.webp);
  background-size: contain;
  position: absolute;
  z-index: 0;
  top: 0;
}
.bg__custom--1::after {
  content: "";
  width: 100%;
  height: 70px;
  background-image: url(../../public/images/overlay-slider.webp);
  background-size: contain;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

@font-face {
  font-family: "SVN-Book Antiqua";
  src: url("../../public/fonts/SVN-Book Antiqua.ttf") format("truetype");
}
@font-face {
  font-family: "SVN-Book Avo";
  src: url("../../public/fonts/SVN-Avo.ttf") format("truetype");
}
.header__logo > img {
  width: 200px;
}
.header__link a {
  font-weight: bold;
  color: white;
  margin: 0 10px;
}
.header__link a:hover {
  font-weight: bolder;
  color: #ffd597;
}
.header__button a {
  padding: 10px 20px;
}
.header__button a:nth-child(1) {
  color: black;
}
.header__button a:nth-child(2):hover {
  color: black;
}
.header__user span {
  margin-right: 10px;
}
.header__user img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.footer > .row {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #ffc367;
}
.footer__link a {
  color: white;
}

.blog__card {
  background-color: #2b2b2b4b;
  border-radius: 12px;
}
.blog__card__img > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blog__card__body {
  padding: 20px;
}
.blog__card__body__title {
  line-height: 30px;
  font-weight: bolder;
}

.blog__detail__img {
  height: 400px;
  object-fit: cover;
}
.blog__detail__img__content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blog__detail__content p:first-child::first-letter {
  color: #ffd597;
  padding: 0 0.3rem;
  margin: 15px 0.3rem 0 0;
  font-size: 5.5rem;
  font-weight: bolder;
  float: left;
  line-height: 0.5;
}