* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fafafa;
}
a:hover {
  color: #ffd597;
}

body {
  color: #fafafa;
  font-family: "SVN-Book Avo";
  background-color: #121212;
}

.fs__smallest {
  font-size: 12px;
}

.fs__details {
  font-size: 14px;
}

.fs__text {
  font-size: 18px;
}

.fs__title {
  font-size: 28px;
  font-family: "SVN-Book Antiqua", sans-serif;
  color: #ffd597;
}

.fs__title--main {
  font-size: 42px;
  color: #ffd597;
  font-family: "SVN-Book Antiqua", sans-serif;
}

.button-secondary {
  background-color: #ffc367;
  color: #fafafa;
}

.button-secondary--outline {
  color: #fafafa;
  box-shadow: 0 0 0 2px #ffc367 inset;
}
.button-secondary--outline:hover {
  background-color: #ffc367;
}

.bg__custom--1 {
  background-image: url(../../public/images/breadcrumbs-bg.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
.bg__custom--1::before {
  content: "";
  width: 100%;
  height: 70px;
  transform: rotate(180deg);
  background-image: url(../../public/images/overlay-slider.webp);
  background-size: contain;
  position: absolute;
  z-index: 0;
  top: 0;
}
.bg__custom--1::after {
  content: "";
  width: 100%;
  height: 70px;
  background-image: url(../../public/images/overlay-slider.webp);
  background-size: contain;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

@font-face {
  font-family: "SVN-Book Antiqua";
  src: url("../../public/fonts/SVN-Book Antiqua.ttf") format("truetype");
}
@font-face {
  font-family: "SVN-Book Avo";
  src: url("../../public/fonts/SVN-Avo.ttf") format("truetype");
}
.header__logo > img {
  width: 200px;
}
.header__link a {
  font-weight: bold;
  color: white;
  margin: 0 10px;
}
.header__link a:hover {
  font-weight: bolder;
  color: #ffd597;
}
.header__button a {
  padding: 10px 20px;
}
.header__button a:nth-child(1) {
  color: black;
}
.header__button a:nth-child(2):hover {
  color: black;
}
.header__user span {
  margin-right: 10px;
}
.header__user img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.footer > .row {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #ffc367;
}
.footer__link a {
  color: white;
}

.management__form {
  padding: 10px 0 10px 50px;
  margin-left: 30px;
  border-left: 1px solid #ffc367;
}
.management__form__input {
  color: #fafafa;
  padding: 10px 0;
  text-indent: 10px;
  border: 0;
  background-color: #2b2b2b4b;
  box-shadow: 0 0 0 2px #ffc367;
}
.management__form__input:focus {
  outline: none;
}
.management__form__button {
  color: #000;
  background-color: #ffc367;
  padding: 10px;
  border: 0;
  font-weight: bolder;
}
.management__form__button:hover {
  background-color: #ffc367;
  color: #000;
}
.management__card {
  width: 200px;
  padding: 20px;
  border-radius: 16px;
  background-color: #2b2b2b4b;
  margin: 20px 20px 20px 0;
}
.management__card p:nth-child(2) {
  font-weight: bolder;
}
.management__table {
  padding: 30px 0;
  background-color: #2b2b2b4b;
}
.management__table th {
  padding: 0 30px 20px 0;
}
.management__table td {
  padding: 20px 30px 20px 0;
}
.management__table td > input {
  color: #fafafa;
  border: 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}
.management__table td > input[type=button] {
  color: #fafafa;
  background-color: #2b2b2b4b;
  padding: 10px;
  font-weight: bolder;
  border: 1.5px solid #ffc367;
}
.management__table td > input[type=button]:hover {
  background-color: #ffc367;
  color: #fafafa;
}
.management__table #temp {
  position: absolute;
  opacity: 0;
}
.management__table .modal__custom {
  background-color: #2b2b2bfa;
}
.management__table .modal__custom__header, .management__table .modal__custom__footer {
  border: 0;
}
.management__table .modal__custom__button--close {
  color: #fafafa !important;
  font-weight: bolder;
}
.management__table .modal__custom__button--close:hover {
  color: #ffd597;
}
.management__table--icon {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: #ffd597;
}