* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fafafa;
}
a:hover {
  color: #ffd597;
}

body {
  color: #fafafa;
  font-family: "SVN-Book Avo";
  background-color: #121212;
}

.fs__smallest {
  font-size: 12px;
}

.fs__details {
  font-size: 14px;
}

.fs__text {
  font-size: 18px;
}

.fs__title {
  font-size: 28px;
  font-family: "SVN-Book Antiqua", sans-serif;
  color: #ffd597;
}

.fs__title--main {
  font-size: 42px;
  color: #ffd597;
  font-family: "SVN-Book Antiqua", sans-serif;
}

.button-secondary {
  background-color: #ffc367;
  color: #fafafa;
}

.button-secondary--outline {
  color: #fafafa;
  box-shadow: 0 0 0 2px #ffc367 inset;
}
.button-secondary--outline:hover {
  background-color: #ffc367;
}

.bg__custom--1 {
  background-image: url(../../public/images/breadcrumbs-bg.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
}
.bg__custom--1::before {
  content: "";
  width: 100%;
  height: 70px;
  transform: rotate(180deg);
  background-image: url(../../public/images/overlay-slider.webp);
  background-size: contain;
  position: absolute;
  z-index: 0;
  top: 0;
}
.bg__custom--1::after {
  content: "";
  width: 100%;
  height: 70px;
  background-image: url(../../public/images/overlay-slider.webp);
  background-size: contain;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

@font-face {
  font-family: "SVN-Book Antiqua";
  src: url("../../public/fonts/SVN-Book Antiqua.ttf") format("truetype");
}
@font-face {
  font-family: "SVN-Book Avo";
  src: url("../../public/fonts/SVN-Avo.ttf") format("truetype");
}
.header__logo > img {
  width: 200px;
}
.header__link a {
  font-weight: bold;
  color: white;
  margin: 0 10px;
}
.header__link a:hover {
  font-weight: bolder;
  color: #ffd597;
}
.header__button a {
  padding: 10px 20px;
}
.header__button a:nth-child(1) {
  color: black;
}
.header__button a:nth-child(2):hover {
  color: black;
}
.header__user span {
  margin-right: 10px;
}
.header__user img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.footer > .row {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #ffc367;
}
.footer__link a {
  color: white;
}

.step_by_step .step__nav {
  margin: 40px 0;
}
.step_by_step .step__nav .step {
  margin: 0 20px;
}
.step_by_step .step__nav .step:hover {
  cursor: pointer;
}
.step_by_step .step__nav .step > span {
  place-items: center;
  padding: 4px 10px;
  border-radius: 50%;
  border: 3px solid;
}
.step_by_step .step__nav .active {
  font-weight: bolder;
  color: #ffd597;
}
.step_by_step .step__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step_by_step .step__form__video {
  margin: 30px auto 50px;
  width: 90%;
  height: 300px;
  background-color: gray;
}
.step_by_step .step__form--icon {
  color: #ffd597;
}
.step_by_step .step__form--icon > i {
  margin: 10px 20px 0;
  font-size: 42px;
}
.step_by_step .step__form__button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  display: flex;
  justify-content: space-between;
}
.step_by_step .step__form__button > button {
  padding: 10px 15px;
  border: 0;
  font-weight: bolder;
}
.step_by_step .step__form__button > button:nth-child(1) {
  background-color: rgba(255, 255, 255, 0);
}
.step_by_step .step__form__button > button:nth-child(1):hover {
  background-color: rgba(255, 255, 255, 0.385);
}
.step_by_step .step__form__button > button:nth-child(2) {
  color: #000;
}
.step_by_step .step__form__button > button:nth-child(2):hover {
  background-color: #ffc267d7;
}
.step_by_step .step__form--general {
  background-color: #2b2b2b4b;
}
.step_by_step .step__form--general--left {
  padding: 50px;
  width: 60%;
}
.step_by_step .step__form--general--left .step__form__input {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.step_by_step .step__form--general--left .step__form__input > input {
  margin: 10px 0;
  text-indent: 20px;
  background-color: #121212;
  color: #fafafa;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #fafafa;
  font-weight: bold;
  outline: none;
}
.step_by_step .step__form--general--left .step__form__input > input:focus {
  border: 3px solid #ffc367;
}
.step_by_step .step__form--general--left .step__form__input input[type=date] {
  text-indent: 10px;
}
.step_by_step .step__form--general--left .step__form__input input[type=date]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
  margin-right: 10px;
}
.step_by_step .step__form--general--left .step__form__input input::-webkit-input-placeholder {
  color: #fafafa;
}
.step_by_step .step__form--general--right {
  background-color: #2b2b2bfa;
  padding: 50px;
  width: 40%;
}
.step_by_step .step__form--general--right .button-text {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: #ffd597;
  font-weight: bolder;
}
.step_by_step .step__form .modal__custom {
  background-color: #2b2b2bfa;
}
.step_by_step .step__form .modal__custom__header, .step_by_step .step__form .modal__custom__footer {
  border: 0;
}
.step_by_step .step__form .modal__custom__button--close {
  color: #fafafa !important;
  font-weight: bolder;
}
.step_by_step .step__form .modal__custom__button--close:hover {
  color: #ffd597;
}
.step_by_step .step__form .disable {
  display: none !important;
}
.step_by_step .step__form .button-disable {
  visibility: hidden;
}