@import "general.scss";
.form {
  width: 100vw;
  height: 100vh;
  &__img {
    width: 60%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 100px;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: url(../../public/images/home3-slide-1.jpg);
      background-size: cover;
    }
    p {
      max-width: 400px;
      font-weight: bold;
      font-size: 2.5em;
    }
    &__logo {
      > img {
        width: 200px;
      }
    }
    &__link {
      a {
        margin-right: 10px;
        font-weight: bolder;
      }
    }
  }
  &__form {
    text-align: center;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    > form {
      margin: 0 auto;
      width: 400px;
      display: flex;
      flex-direction: column;
      input {
        text-indent: 20px;
        background-color: #121212;
        color: #fafafa;
        height: 50px;
        margin: 10px 0;
        border-radius: 8px;
        border: 1px solid #fafafa;
        font-weight: bold;
        outline: none;
        &:focus {
          border: 3px solid $color-secondary;
        }
      }
      input[type="submit"] {
        border-width: 3px;
        border-color: $color-secondary;
        &:hover {
          background-color: $color-secondary;
          color: #000;
        }
      }
      input[type="date"] {
        text-indent: 10px;
        &::-webkit-calendar-picker-indicator {
          cursor: pointer;
          filter: invert(1);
          margin-right: 10px;
        }
      }
      input::-webkit-input-placeholder {
        color: #fafafa;
      }
    }
  }
}
