$color-primary1: #092424;
$color-primary2: #18675d;
$color-secondary: #ffc367;
$color-text-title: #ffd597;
$color-card: #2b2b2b4b;
$color-text: #fafafa;
$color-body: #121212;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fafafa;
  &:hover {
    color: $color-text-title;
  }
}

body {
  color: $color-text;
  font-family: "SVN-Book Avo";
  background-color: $color-body;
}

.fs__smallest {
  font-size: 12px;
}
.fs__details {
  font-size: 14px;
}
.fs__text {
  font-size: 18px;
}
.fs__title {
  font-size: 28px;
  font-family: "SVN-Book Antiqua", sans-serif;
  color: $color-text-title;
}
.fs__title--main {
  font-size: 42px;
  color: $color-text-title;
  font-family: "SVN-Book Antiqua", sans-serif;
}

.button-secondary {
  background-color: $color-secondary;
  color: $color-text;
}
.button-secondary--outline {
  color: $color-text;
  box-shadow: 0 0 0 2px $color-secondary inset;
  &:hover {
    background-color: $color-secondary;
  }
}
.bg__custom {
  &--1 {
    background-image: url(../../public/images/breadcrumbs-bg.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
    &::before {
      content: "";
      width: 100%;
      height: 70px;
      transform: rotate(180deg);
      background-image: url(../../public/images/overlay-slider.webp);
      background-size: contain;
      position: absolute;
      z-index: 0;
      top: 0;
    }
    &::after {
      content: "";
      width: 100%;
      height: 70px;
      background-image: url(../../public/images/overlay-slider.webp);
      background-size: contain;
      position: absolute;
      z-index: 0;
      bottom: 0;
    }
  }
}
@font-face {
  font-family: "SVN-Book Antiqua";
  src: url("../../public/fonts/SVN-Book\ Antiqua.ttf") format("truetype");
}
@font-face {
  font-family: "SVN-Book Avo";
  src: url("../../public/fonts/SVN-Avo.ttf") format("truetype");
}
.header {
  &__logo {
    > img {
      width: 200px;
    }
  }
  &__link {
    a {
      font-weight: bold;
      color: white;
      margin: 0 10px;
      &:hover {
        font-weight: bolder;
        color: $color-text-title;
      }
    }
  }
  &__button {
    a {
      padding: 10px 20px;
      &:nth-child(1) {
        color: black;
      }
      &:nth-child(2):hover {
        color: black;
      }
    }
  }
  &__user {
    span {
      margin-right: 10px;
    }
    img {
      $size: 40px;
      width: $size;
      height: $size;
      border-radius: 100%;
    }
  }
}
.footer {
  > .row {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $color-secondary;
    // background-image: url(../../public/images/bg-subscribe.jpg);
  }
  &__link {
    a {
      color: white;
    }
  }
}
